<h1>New Category</h1>

<%= render partial:"shared/form_error", locals: { form: @category } %>

<%= form_for :category, url: categories_path do |f| %><br>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', categories_path %></p>