<h1>Showing Category</h1>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Concept</th>
    <th>Amount</th>
  </tr>
  <% @category.expenses.each do |category| %>
    <tr>
      <td><%= category.date.strftime("%B %d, %Y") %></td>
      <td><%= category.concept %></td>
      <td><%= category.amount %></td>
    </tr>
    
  <% end %>  
</table>

<%= link_to 'Back', categories_path %>