<%= form_for @expense do |f| %>

  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@expense.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select( :category_id, Category.all, :id, :name) %>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %>
  </p>
  <p>
    <%= f.label :concept %><br>
    <%= f.text_area :concept %>
  </p>
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>